label textarea {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 95%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    resize: none;
    font-size: 16px;
    font-weight: 400;
    height: 90px; /* Zwiększona wysokość dla textarea */
    transition: all 0.2s ease;
}

label textarea:hover {
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

label textarea:focus {
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}
